In [4]:
import pandas as pan;
import numpy as np;
import matplotlib.pyplot as plotter;
import seaborn as sns;
import utils as u;

In [5]:
first_matrix_data = pan.read_csv("Ames_Housing_Data.csv");

In [6]:
second_matrix_data = pan.read_csv("WithoutWeirdOutliers_Ames_Housing_Data.csv")

In [9]:
missing_data_first = u.percent_missing(first_matrix_data)
missing_data_second = u.percent_missing(second_matrix_data)

In [12]:
missing_data_first[missing_data_first > 10]

Lot Frontage    16.723549
Fireplace Qu    48.532423
Mas Vnr Type    60.580205
Fence           80.477816
Alley           93.242321
Misc Feature    96.382253
Pool QC         99.556314
dtype: float64

In [13]:
first_matrix_data[["Mas Vnr Type", "Mas Vnr Area"]]

     Mas Vnr Type  Mas Vnr Area
0           Stone         112.0
1             NaN           0.0
2         BrkFace         108.0
3             NaN           0.0
4             NaN           0.0
...           ...           ...
2925          NaN           0.0
2926          NaN           0.0
2927          NaN           0.0
2928          NaN           0.0
2929      BrkFace          94.0

[2930 rows x 2 columns]